/* Fonts */
/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Raleway:500&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Righteous:400&display=swap');

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Righteous', cursive;
    font-weight: 500;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #313A46;
}
.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}
.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}

.bg-gray-800 {
    background: #343a40 !important;
}
.text-gray-300 {
    color: #dee2e6;
}
.text-gray {
    color: #dee2e6;
}
.text-muted {
    color: #868e96 !important;
}
.text-gray-primary {
    color: rgba(0,123,255,.25)!important;
    font-size: 50px;
}  

/* Login page */
.big-page {
    min-height: calc(100vh - 315px);
}
.big-page .card {
    background-color: transparent !important;
    border: none;
}
.big-page .card .card-header {
    background-color: transparent !important;
    border: none;
}
/* Footer */

/* Social media icons */
.social-icons .fa {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: none;
    text-decoration: none;
}

/* Overriding Bootstrap CSS */
.big-page .card-img-top {
    height: auto;
    max-width: 300px;
}
.alert .card {
    background-color: transparent;
}
.card-header, .card-footer {
    background-color: #f8f9fc !important;
    border-bottom: 1px solid #e3e6f0;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #36b9cc!important;
}
.table {
    border-color: #36b9cc!important;
}