/* Fonts */

.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}
.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}
.text-gray {
    color: #dddfeb!important;
}
.text-gray-primary {
    color: rgba(0,123,255,.25)!important;
    font-size: 50px;
}

.fa, .fas {
    font-weight: 900;
}
/* Footer */

/* Social media icons */

/* Overriding Bootstrap CSS */
.card-header, .card-footer {
    background-color: #f8f9fc !important;
    border-bottom: 1px solid #e3e6f0;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #36b9cc!important;
}
.table {
    border-color: #36b9cc!important;
}